* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background: #eaebeb; */
}

.flex {
  display: flex;
}

.btn {
  background: #fff;
  color: #333;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.btn-dark {
  background: #333;
  color: #fff;
  cursor: pointer;
}

.btn-dark:hover {
  background: #444;
}

.cardsList {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: auto;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.card {
  display: inline-block;
  background: #f4f4f4;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.438);
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.card:hover .delete {
  visibility: visible;
}

#cardTitle {
  font-size: 20px;
  font-weight: bold;
}
#cardAuthor {
  font-style: italic;
}
.card > p {
  margin-top: 10px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff11009f;
  cursor: pointer;
  transform: translate(5px, -5px);
  visibility: hidden;
}

#currUser {
  position: relative;
  /* display: inline-block; */
}

.modal {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

form#addBookForm {
  margin-bottom: 200px;
  position: relative;
  background: white;
  display: inline-block;
  padding: 20px 30px;
  width: 500px;
  font-size: 18px;
  border-radius: 10px;
}
form#addBookForm label:not(.switch) {
  display: block;
  margin-top: 10px;
}
div.switchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

form#addBookForm input:not(input[type="checkbox"]) {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #444;
  outline: none;
  font-size: 18px;
}

form#addBookForm input:not(input[type="checkbox"])::placeholder {
  font-size: 18px;
}

form div.btnContainer {
  display: block;
  margin-top: 20px;
}

form .addBookBtn {
  width: 100%;
  color: #fff;
  background: #333;
}

.hidden {
  display: none;
}

.btnContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#loginBtn,
#currUser {
  position: absolute;
  right: 100px;
  top: 20px;
}

#loginBtnContainer {
  margin-bottom: 200px;
  background: white;
  padding: 50px 50px 100px;
  border-radius: 10px;
}

#loginGoogleBtn {
  background: #ddd;
  align-items: center;
  justify-content: space-between;
}

#loginGoogleBtn > span {
  margin-left: 15px;
}
#userName {
  margin-right: 20px;
}
